@import '@styles/helpers/helpers-all.scss';

.article {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font_base !important;
		font-weight: 700 !important;
		line-height: 1.1;
		letter-spacing: -0.03em;
	}

	h1,
	h2 {
		@include h5;

		&:not(:last-child) {
			@include bp($tablet_max, min) {
				margin-bottom: 3rem;
			}

			@include bp($tablet_max - 1) {
				margin-bottom: 2rem;
			}
		}
	}

	p,
	ul,
	ol {
		@include body_xl;

		font-weight: 500;
		line-height: 1.28;
		letter-spacing: -0.03em;
		text-align: justify;

		&:not(:last-child) {
			@include bp($tablet_max, min) {
				margin-bottom: 4.4rem;
			}

			@include bp($tablet_max - 1) {
				margin-bottom: 3rem;
			}
		}
	}

	ul,
	ol {
		li {
			list-style-position: inside;

			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}

	ul {
		li {
			list-style-type: disc;
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	a {
		text-decoration: underline;
		color: inherit;

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	u {
		text-decoration: underline;
	}

	strong,
	b {
		font-weight: 700;
	}

	em,
	i {
		font-style: italic;
	}

	figure {
		width: 100%;

		&:not(:last-child) {
			@include bp($tablet_max, min) {
				margin-bottom: 4rem;
			}

			@include bp($tablet_max - 1) {
				margin-bottom: 3rem;
			}
		}

		img {
			display: block;
			width: 100%;
		}
	}
}