@use 'variables' as vars;
@use 'global-mixins' as mixins;

@mixin st_btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	white-space: nowrap;
	font-family: vars.$font_base;
	cursor: pointer;

	&[type='submit'] {
		@include mixins.appearance(none);
	}

	&:hover,
	&:focus {
		text-decoration: none;
	}
}