//---------------------------------------------z-index
$z-index: (
	popup: 110,
	header: 100,
	footer: 100,
);
//---------------------------------------------z-index###

//---------------------------------------------breakpoints
$desktop: 1440px;
$desktop_min: 1200px;
$tablet_max: 1024px;
$tablet_min: 768px;
$mobile: 375px;
//---------------------------------------------breakpoints###
$font_heading: 'Tagada', sans-serif;
$font_base: 'FigGrotesk0.3', sans-serif;

$base_font_size: 1.8rem;
$page_width: 100%;
$page_width_md: 75.8rem;
$base-ease: cubic-bezier(0.28, 0, 0.49, 1);