@use '../../header-variables' as vars;
@use '@styles/helpers/helpers-all' as *;

$indent: 3rem;

.nav {
	@include bp($tablet_max, min) {
		height: 100%;
		border-left: 1px solid var(--dark);
		padding-left: $indent;
	}
}

.list {
	position: relative;

	@include bp($tablet_max, min) {
		display: flex;
		align-items: stretch;
		gap: 4rem;

		width: 100%;
		height: 100%;
	}

	@include bp($tablet_max - 1) {
		text-align: center;
		width: calc(100% + var(--gl-indent) * 2);
		margin-left: calc(var(--gl-indent) * -1);
	}
}

.item {
	@include bp($tablet_max, min) {
		display: flex;
		align-items: center;

		height: 100%;
		padding-top: 4px;
	}

	@include bp($tablet_max - 1) {
		border-bottom: 1px solid var(--dark);
	}

	&:last-child {
		@include bp($tablet_max, min) {
			position: relative;

			border-left: 1px solid var(--dark);
			padding-left: 3rem;
			margin-left: auto;
		}
	}
}

.link {
	color: var(--dark);
	font-size: 1.6rem;
	line-height: 1.43;
	text-transform: uppercase;
	text-decoration: none;

	@include bp($tablet_max, min) {
		@media (any-hover: hover) {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: calc($indent * -1);
				z-index: -1;

				width: calc(100% + $indent);
				height: 100%;

				transition: opacity vars.$animation, background vars.$animation;
				opacity: 0;

				.item:nth-child(1) & {
					background-color: var(--lazer);
				}

				.item:nth-child(2) & {
					background-color: var(--pink);
				}

				.item:nth-child(3) & {
					background-color: var(--saffron);
				}

				.item:nth-child(4) & {
					background-color: var(--purple);
				}

				.item:last-child & {
					left: 0;
					z-index: 1;

					opacity: 1;
					background-color: var(--light);
				}
			}

			span {
				position: relative;
				z-index: 3;

				transition: opacity vars.$animation;
			}

			&:hover {
				&::before {
					opacity: 1;

					.item:last-child & {
						background-color: var(--cerulean);
					}
				}
			}

			.item:not(:last-child) & {
				.hoverState & {
					span {
						opacity: 0.2;
					}
				}

				&:hover {
					span {
						opacity: 1 !important;
					}
				}
			}
		}
	}

	@include bp($tablet_max - 1) {
		display: block;
		padding: 4.2rem var(--gl-indent) 3.8rem;

		transition: background vars.$animation;

		&:hover,
		&:focus {
			background-color: var(--cerulean);
		}
	}
}