@import '@styles/helpers/helpers-all.scss';

.component {
	position: relative;
	width: 100%;
	height: 100%;
}

.bg {
	@include bp($tablet_max, min) {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		height: calc(100vh - var(--height-header) - var(--height-footer));
	}

	@include bp($tablet_max - 1) {
		position: relative;
		display: block;
		width: 100%;
		height: 67vw;
		overflow: hidden;
	}
}

.image {
	display: block;
	width: 100%;
	height: 100%;

	@include bp($tablet_max - 1) {
		position: absolute;
		top: 0;
		left: 0;
	}

	img {
		object-position: top center !important;
	}
}

.body {
	@include bp($tablet_max, min) {
		display: none;
	}
}