@import '../../header-variables.scss';
@import '@styles/helpers/helpers-all.scss';

$burgerHeight: 2rem;

.trigger {
	position: relative;
	z-index: 5;

	width: 4rem;
	height: $burgerHeight;

	cursor: pointer;

	@include bp($tablet_max, min) {
		display: none;
	}

	&::before,
	&::after,
	span {
		position: absolute;
		left: 0;
		top: 50%;

		width: 100%;
		height: 2px;

		transition: transform $menu_animation, background $menu_animation;
		will-change: transform;

		background-color: var(--dark);
	}

	&::before {
		content: "";
		transform: translateY(calc($burgerHeight / 2 * -1));
	}

	&::after {
		content: "";
		transform: translateY(calc($burgerHeight / 2));
	}

	:global(.body--open_menu_state) & {

		&::before,
		&::after,
		span {
			background-color: var(--lazer);
		}

		span {
			transform: rotate(-90deg) scaleX(0.5) translate(-2px, 4px);
		}

		&::before {
			transform: rotate(33deg) scaleX(.94) translate(4px, -2px);
		}

		&::after {
			transform: rotate(-33deg) scaleX(.94) translate(3px, 2px);
		}
	}

}