@use '@styles/helpers/helpers-all' as *;
@use '../../news-feed-variables' as vars;

.list {
	display: flex;
	flex-wrap: nowrap;

	flex-shrink: 0;
	gap: vars.$gap;

	max-width: 100%;

	animation: marquee infinite linear var(--animation-duration);
	will-change: transform;
}

.item {
	flex-shrink: 0;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}