@import '@styles/helpers/helpers-all.scss';

.section {
	@include bp($tablet_max, min) {
		padding-top: 9.6rem;
		padding-bottom: 13.4rem;
	}

	@include bp($tablet_max - 1) {
		padding-top: 2.8rem;
		padding-bottom: 6.4rem;
	}
}

.imageW {
	max-width: 100%;
	margin: 0 auto;

	aspect-ratio: 62.4 / 15;

	@include bp($tablet_max, min) {
		width: 84.2%;
	}

	@include bp($tablet_max - 1) {
		width: 100%;
	}
}
