@import '@styles/helpers/helpers-all.scss';

.component {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 4rem 9.2rem;
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;

	flex-shrink: 0;
	width: 4rem;
	height: 4rem;

	border-radius: 50%;
	border: 1px solid var(--dark);

	color: var(--dark);
	background-color: var(--light);
	transition: background 0.3s $base-ease, color 0.3s $base-ease;

	&:hover,
	&:focus {
		background-color: var(--dark);
		color: var(--lazer);
	}
}

.socialIcon {
	display: block;
	width: 1.6rem;
	height: 1.6rem;
	color: inherit;
}