@import '@styles/helpers/helpers-all.scss';
@import './news-feed-variables.scss';


.section {
	position: absolute;
	bottom: 0;
	left: 0;

	padding-bottom: 1rem;
	padding-top: 1rem;

	overflow: hidden;
}

.heading {
	line-height: 1.1;
}

.container {
	position: relative;
	z-index: 1;

	display: flex;
	gap: $gap;

	&:hover,
	&:focus {
		ul {
			animation-play-state: paused;

		}
	}
}