html {
  transition: background 500ms ease;
}

.accordion-item.collapsed {
  display: none;
}

.accordion-item.expanded {
  display: block;
}

@media only screen and (max-width: 600px) {
  .dialog-content {
    width: 95vw !important;
  }
}

.member-card {
  position: relative;
}

.member-card .member-name {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  opacity: 0;
  background-color: #000;
  color: #fff;
  transition:  0.5s ease;
  width: 100%;
  height: 100%;
}

.member-card:hover .member-name {
  opacity: 1;
}
