html {
  transition: background 500ms ease;
}

.accordion-item.collapsed {
  display: none;
}

.accordion-item.expanded {
  display: block;
}

@media only screen and (max-width: 600px) {
  .dialog-content {
    width: 95vw !important;
  }
}
