/* Global */
html {
  transition: background 500ms ease-in;
}

/* Research accordion */
.accordion-item {
  overflow: hidden;
  transition: all 0.3s ease;
}

.accordion-item.collapsed {
  max-height: 0;
  opacity: 0;
}

.accordion-item.expanded {
  max-height: max-content;
  opacity: 1;
}

/* Team list */
.member-card {
  position: relative;
}

.member-card .member-name {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  opacity: 0;
  background-color: #000;
  color: #fff;
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
}

.member-card:hover .member-name {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .dialog-content {
    width: 95vw !important;
  }
}
