@import '@styles/helpers/helpers-all.scss';

.section {
	@include bp($tablet_max, min) {
		padding-top: 5rem;
		padding-bottom: 17.2rem;
	}

	@include bp($tablet_max - 1) {
		padding-bottom: 4.6rem;
	}

	&.sectionLg {
		@include bp($tablet_max, min) {
			padding-bottom: 32.6rem;
		}

		@include bp($tablet_max - 1) {
			padding-bottom: 9.8rem;
		}
	}

	&.sectionLayoutMod1 {
		z-index: 10;
	}

	&.sectionLayoutMod2 {
		z-index: 20;
	}

	&.sectionLayoutMod3 {
		z-index: 30;
	}
}
